.page {
  flex: 1;

  .formularioContato {
    display: flex;
    padding: 40px;
    gap: 52px;

    .contatos {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2 {
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }

      .contatosIcons {
        display: flex;
        gap: 12px;
        align-items: center;

        span {
          font-size: 18px;
        }

        .icon {
          background-color: #4d49cf;
          object-fit: contain;
          width: 4em;
          border-radius: 1em;
          padding: 1em;
          box-sizing: border-box;
          height: fit-content;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .page {
    .header {
      background: #503e9e;
      background: radial-gradient(
        circle at 100% 0%,
        rgba(80, 62, 158, 1) 0%,
        rgba(75, 19, 102, 1) 41%,
        rgba(25, 29, 49, 1) 100%
      );
      padding: 60px 20px;
      gap: 18px;

      h1 {
        font-size: 48px;
      }

      .textImages {
        flex-direction: column-reverse;

        .textHeader {
          h3 {
            font-size: 36px;
            text-align: center;
          }

          p {
            font-size: 16px;
            text-align: center;
          }
        }

        .imagesHeader {
          min-height: 12em;

          .imageHeader {
            width: 60%;
            right: 1em;
            bottom: 2em;
          }

          #jerica {
            left: 2em;
            top: 0;
          }
        }
      }
    }

    .formularioContato {
      flex-direction: column;
      padding: 20px;

      .contatos {
        h2 {
          font-size: 32px;
          text-align: center;
        }

        p {
          font-size: 16px;
          text-align: center;
        }

        hr {
          display: none;
        }

        h3 {
          display: none;
        }

        .contatosIcons {
          display: none;
        }
      }
    }
    
    .main {
      display: flex;
      flex-direction: column;
    }
  }
}
