.button {
  outline: none;
  border: 2px solid var(--gray-border);
  background-color: white;
  color: var(--blue-dark);
  padding: 0.8em;
  border-radius: var(--border-sm);

  @media screen and (max-width: 420px) {
    width: var(--full-width);
  }
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
