.button {
  outline: none;
  border: 2px solid var(--gray-border);
  background-color: white;
  color: var(--blue-dark);
  padding: 0.8em;
  border-radius: var(--border-sm);
  align-items: center;
  justify-content: center;
  display: flex;
  gap: .6em;
  cursor: pointer;

  @media screen and (max-width: 420px) {
    width: var(--full-width);
  }
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (max-width: 420px) {
  .button {
    width: var(--full-width);
  }
}
