.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 1em;
  border-radius: 10px;
  background-color: #f9fafb;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);

  h2 {
    width: 100%;
    text-align: start;
  }

  form {
    gap: 0.4em;
    display: grid;
    grid-template-areas:
      "nome" "nome"
      "email" "email"
      "telefone" "empresa"
      "assunto" "assunto"
      "mensagem" "mensagem";
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    input,
    textarea {
      outline: none;
      padding: 0.8em;
      border: 2px solid #d1d5db;
      border-radius: 8px;
      box-sizing: border-box;
      resize: none;
    }
  }

  .nome {
    grid-area: "nome";
  }

  .email {
    grid-area: "email";
  }

  .telefone {
    grid-area: "telefone";
  }

  .empresa {
    grid-area: "empresa";
  }

  .assunto {
    grid-area: "assunto";
  }

  .mensagem {
    grid-area: "mensagem";

    textarea {
      width: 100%;
      height: 200px;
      outline: none;
    }
  }
}
