.pageContainer {
    flex: 1;

    .header {
        padding: 8rem 2rem 2rem 2rem; 

        .contentContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 4rem;
            background: linear-gradient(90deg, #0C3674 35%, #089AD9 59%, #5B4078 100%);
            border-radius: .6rem;
            
            h1 {
                color: white;
            }

            p { 
                color: white;
                font-size: 1.1rem;
            }

            .segmentos {
                display: flex;
                gap: 1rem;
            }
        }
    }
}