.button {
  padding: 20px 38px;
  height: 100%;
  width: fit-content;
  text-align: center;
  display: flex;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  user-select: none;
}
