.valorContainer {
  display: flex;
  gap: 0.2em;
  transform: translateX(-10px);
  transition: all .8s;
  opacity: 0;
  
  .texts {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    user-select: none;
    
    h4 {
        color: white;
        cursor: default;
        transition: all 0.1s ease-in;
    }

    p {
      color: #e9e9e9;
      cursor: default;
    }
  }

  &:hover {
    .texts {
      h4 {
        color: rgb(134, 192, 231);
      }
    }
  }
}

.visible {
  opacity: 1;
  transform: translateX(0);
}