:root {
  --font-color: #111827;
  --blue-light: #004aad;
  --blue-dark: #192642;
  --gray-border: #f2f2f2;
  --border-sm: 0.6em;
  --border-m: 0.8em;
  --border-l: 1em;
  --sm: 10em;
  --m: 14em;
  --l: 18em;
  --full-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
}

a {
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
span,
p,
a {
  color: var(--font-color);
}
