.homePage {
  flex: 1;

  .welcome {
    width: 100%;
    height: 100dvh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.8em;
    box-sizing: border-box;
    background: #030916;
    background: linear-gradient(
      126deg,
      rgba(3, 9, 22, 1) 0%,
      rgba(89, 114, 167, 1) 64%,
      rgba(17, 51, 124, 1) 100%
    );

    .title {
      display: flex;
      gap: 0.4em;

      h1 {
        color: white;
      }

      .titleGradient {
        background: #4b58da;
        background: linear-gradient(
          100deg,
          rgba(75, 88, 218, 1) 0%,
          rgba(52, 129, 135, 1) 100%
        );
        background-clip: text;
        color: transparent;
      }
    }

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
      color: #dedede;
      width: 70%;
      font-size: 1.2em;
    }

    .arrowDown {
      animation: pulando 1s ease-in-out infinite;
      position: absolute;
      bottom: 5em;
      object-fit: contain;
      height: fit-content;
      width: 2em;
      transition: all 1s ease-in-out;
      stroke-width: 5px;
      stroke: white;
    }

    @keyframes pulando {
      0% {
        transform: translateY(2px);
      }

      20% {
        transform: translateY(0);
      }

      90% {
        transform: translateY(-10px);
      }
    }
  }

  .sobreSection {
    display: flex;
    padding: 4em 8em;
    gap: 0.8em;
    box-sizing: border-box;

    .sobreText {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2em;

      h1 {
        color: var(--dark-blue);
      }

      p {
        color: #696969;
        font-size: 18px;
      }
    }
  }

  .estadosSection {
    padding: 2em;
  }

  .segmentsSection {
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    .titleSegments {
      display: flex;
      gap: 0.4em;

      h1 {
        font-size: 48px;
      }

      .titleColorido {
        color: #4b58da;
      }
    }

    .sobreSegmentos {
      font-size: 20px;
      color: #4b4b4b;
      text-align: center;
      width: 80%;
    }
  }

  .motivoEscolha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    h2 {
      color: #626262;
      font-size: 24px;
      font-weight: 100;
      width: 70%;
      text-align: center;
    }

    .cardsContainer {
      width: 100%;

      .cardDesktop {
        margin-bottom: 4em;
        justify-content: space-evenly;
        gap: 2em;
        padding: 1em;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 50% 50%;
      }

      .cardMobile {
        display: none;
      }
    }
  }

  .diferenciacoesSection {
    display: flex;
    padding: 8em 4em;
    width: 100%;
    background-color: #030916;
    box-sizing: border-box;
    align-items: center;
    gap: 1em;

    .texts {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2em;

      h1 {
        color: white;
      }

      p {
        color: #afafaf;
      }
    }

    ul {
      flex: 1;
      background: #275899;
      background: linear-gradient(
        121deg,
        rgba(39, 88, 153, 1) 0%,
        rgba(13, 29, 51, 1) 68%,
        rgba(39, 88, 153, 1) 100%
      );
      display: flex;
      flex-direction: column;
      padding: 2em 3em;
      gap: 1em;
      border-radius: 30px;

      li {
        display: flex;
        align-items: center;
        gap: 0.8em;

        span {
          user-select: none;
          color: white;
          transition: all 0.2s ease-in-out;
        }

        .checkIcon {
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          span {
            color: rgb(155, 202, 255);
          }

          .checkIcon {
            stroke: rgb(155, 202, 255);
          }
        }
      }
    }

    .button {
      display: block;
    }

    .buttonMobile {
      display: none;
    }
  }

  .contatoSection {
    display: flex;
    padding: 2em;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;

    p {
      color: #4b5563;
      font-size: 18px;
    }

    .formInfos {
      margin-top: 2em;
      display: flex;
      width: 100%;
      padding: 2em;
    }
  }
}

.textoDestaque {
  background: #3892e0;
  background: linear-gradient(
    141deg,
    rgba(56, 146, 224, 1) 0%,
    rgba(99, 37, 110, 1) 59%,
    rgba(59, 102, 7, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

@media screen and (min-width: 380px) and (max-width: 420px) {
  .homePage {
    .welcome {
      width: 100%;

      h1 {
        font-size: 2em;
      }

      p {
        text-align: justify;
        width: 100%;
      }
    }

    .sobreSection {
      flex-direction: column;
      padding: 4em 2em;
      align-items: center;

      .sobreText {
        h1 {
          font-size: 40px;
        }

        p {
          width: 100%;
          text-align: justify;
        }
      }
    }

    .estadosSection {
      flex-direction: column;
      width: 100%;
      padding: 1em;
      box-sizing: border-box;
    }

    .segmentsSection {
      padding: 0;
      width: 100%;

      .titleSegments {
        h1 {
          text-align: center;
          font-size: 40px;
        }
      }

      .sobreSegmentos {
        width: 80%;
        margin-bottom: 2em;
        text-align: justify;
      }
    }

    .motivoEscolha {
      flex-direction: column;
      gap: 0.6em;

      h1 {
        text-align: center;
        font-size: 36px;
      }

      h2 {
        width: 80%;
        text-align: justify;
        font-size: 18px;
      }
    }

    .motivoEscolha {
      .cardsContainer {
        .cardDesktop {
          display: none;
        }
        .cardMobile {
          display: flex;
        }
      }
    }

    .diferenciacoesSection {
      flex-direction: column;
      gap: 3em;
      padding: 2em;

      .texts {
        h1 {
          font-size: 34px;
          text-align: center;
        }

        p {
          text-align: justify;
        }
      }

      .button {
        display: none;
      }

      .buttonMobile {
        margin-top: 1em;
        width: 100%;
      }
    }

    section {
      flex-direction: column;

      .imageTitleSegment {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1em;
        text-wrap: nowrap;

        .logoImages {
          object-fit: contain;
          width: 6em;
          height: fit-content;
        }

        h1 {
          display: flex;
          font-weight: 600;
          font-size: 2.2em;
        }
      }

      .aboutSegment {
        width: 100%;

        h1 {
          display: none;
        }

        p {
          width: 100%;
          text-align: justify;
        }
      }
    }
  }
}
