.homePage {
  flex: 1;

  .welcome {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    box-sizing: border-box;

    h1 {
      font-size: 2.8em;
      text-align: center;
    }

    p {
      width: 30%;
      text-align: center;
    }
  }

  .slideImages {
  }

  section {
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
    border-radius: var(--border-sm);
    border: 2px solid var(--gray-border);

    .aboutSegment {
      width: 60%;

      h1 {
        font-size: 2.4em;
      }
    }
  }
}
