.page {
  flex: 1;

  .formularioContato {
    display: flex;
    padding: 40px;
    gap: 52px;

    .contatos {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .buttons {
        height: 3em;
        display: flex;
        flex-direction: column;
        gap: 0.6em;

        span {
          color: #000000;
          opacity: 0.4;
        }
      }
    }
  }

  .hr {
    opacity: 0.4;
  }

  .tituloProdutos {
    padding: 1em 3em;
    display: flex;
    align-items: center;
    gap: 1em;

    .arrow {
      height: 2em;
      width: 2em;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .page {
    .formularioContato {
      flex-direction: column;
      padding: 20px;
      gap: 8em;

      .contatos {
        h2 {
          text-align: center;
        }

        p {
          text-align: center;
        }

        hr {
          display: none;
        }

        h3 {
          display: none;
        }

        .contatosIcons {
          display: none;
        }
      }
    }

    .tituloProdutos {
      padding: 1em 2em;

      h2 {
        text-align: center;
      }

      .arrow {
        display: none;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
    }
  }
}
