.page {
  flex: 1;

  .formularioContato {
    display: flex;
    padding: 40px;
    gap: 52px;

    .contatos {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .buttons {
        height: 3em;
        display: flex;
        flex-direction: column;
        gap: 0.6em;

        span {
          color: #000000;
          opacity: 0.4;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .page {
    .formularioContato {
      flex-direction: column;
      padding: 20px;

      .contatos {
        h2 {
          font-size: 32px;
          text-align: center;
        }

        p {
          font-size: 16px;
          text-align: center;
        }

        hr {
          display: none;
        }

        h3 {
          display: none;
        }

        .contatosIcons {
          display: none;
        }
      }
    }

    .main {
      display: flex;
      flex-direction: column;
    }
  }
}
