.page {
  flex: 1;

  .hr {
    opacity: 0.4;
  }

  .tituloProdutos {
    padding: 1em 3em;
    display: flex;
    align-items: center;
    gap: 1em;

    .arrow {
      height: 2em;
      width: 2em;
    }
  }

  .products {
    padding: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .page {
    .tituloProdutos {
      padding: 1em 2em;

      h2 {
        text-align: center;
      }

      .arrow {
        display: none;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
    }
  }
}
