.segmentosContainer {
  display: flex;
  justify-content: space-evenly;

  .visible {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 420px) {
  .segmentosContainer {
    flex-direction: column;
    width: 90%;
    gap: 3em;
  }
}
