.footerContainer {
  background-color: var(--blue-dark);
  width: 100%;
  display: flex;
  flex-direction: column;

  .upper {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0.8em;

    span,
    h4,
    h2,
    p {
      color: white;
    }

    h2 {
      font-weight: 100;
    }

    .marcaGrupo {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      width: 30%;

      .socialsIcons {
        display: flex;
        gap: 0.4em;
      }
    }

    .segmentos,
    .servicos,
    .contatos {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .down {
    border-top: 1px solid white;
    padding: 0.8em 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: white;
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 420px) {
  .footerContainer {
    .upper {
      padding: 2em;

      span,
      p {
        font-size: small;
      }

      h2 {
        font-size: large;
      }

      .marcaGrupo {
        height: 100%;
        gap: .6em;
        flex: 1;
        padding-right: .8em;

        p {
          display: none;
        }
      }

      .servicos {
        display: none;
      }

      .segmentos {
        display: none;
      }

      .contatos {
        span {
          width: 80%;
        }
      }
    }
    
    .down {
      span {
        font-size: .8em;
      }
    }
  }
}
