.contatosContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: rgba($color: #dddbff, $alpha: 0.2);
  border-radius: 1em;
  box-sizing: border-box;
  box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.2);

  .icon {
    padding: 1em;
    background-color: #4d49cf;
    color: white;
    display: flex;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: fit-content;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contatosContainer {
    .icon {
      width: 2em;
      height: 2em;
    }
  }
  
}
